.editor-container{
    width: 1300px;
    height: 540px;
    margin: 0px auto;
    position: relative;
}
  
#editor{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
}